.darkLayer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
}

.modalWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: var(--white);
    width: 428px;
    height: 294px;
    padding: 30px 40px 33px;
    display: none;
}

.cross {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.modalWindow__title, .modalWindow__text {
    font-family: Inter;
    font-style: normal;
    line-height: 24px;
}

.modalWindow__title {
    color: var(--black-2);
    font-size: 20px;
    font-weight: 600;
}

.modalWindow__text {
    margin-top: 14px;
    font-size: 16px;
    font-weight: normal;
    color: var(--grey-4);
}
