.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    cursor: pointer;
}

.tooltip__trigger:hover ~.tooltip__help {
    display: block;
}

.tooltip__help {
    display: none;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    background-color: var(--blue-2, #4263EB);
    border-radius: 10px;
    width: 150px;
    color: var(--white);
    padding: 13px 21px;
    position: absolute;
    left:50%;
    bottom: 125%;
    transform: translateX(-50%);
}

.tooltip__help:before {
    content: "";
    border: 14px solid transparent;
    border-top: 6px solid var(--blue-2, #4263EB);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}
