.hide {
    display: none !important;
}

.textInput__input, .textInput__placeholder, .textInput__label {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}

.textInput {
    display: block;
}

.textInput__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.textInput__inputBox {
    width: 350px;
    height: 54px;
    border: none;
    color: var(--grey-4);
    margin-top: 5px;
    position: relative;
}

.textInput__input {
    width: 350px;
    height: 54px;
    margin: 0;
    padding: 0 50px 0 24px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
}

.textInput__input:focus {
    outline: none;
    border: 1px solid var(--blue-2);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
}

.textInput__input:invalid {
    border: 1px solid var(--red);
}

.textInput__placeholder {
    color: var(--grey-2);
    position: absolute;
    top: 15px;
    left: 24px;
}

.textInput__statusIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 15px;
    right: -60px;
    display: none;
}

.textInput__input:invalid ~ .textInput__statusIcon {
    display: initial;
    background-image: url("error.svg");
}

.textInput__input:valid ~ .textInput__statusIcon {
    display: initial;
    background-image: url("success.svg");
}
